* {
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;    
    background-color: white;
    height: 50px;
}

nav ul {
    margin: 0px;
    padding: 10px;
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 20px;
}


#logo {
    position: fixed;
    padding-right: 55%;
    float: left;
    top: 100px;
    display: contents;
}


body {
    background-image: url("img/sample-pattern.png");
}
section {
    
    margin-top: 30px;
    overflow: auto;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    padding-bottom: 30px;
	color: grey;

}


article {
    background-color: white;
    border-bottom: black solid 1px;
    width: 70%; 
    margin: 0px auto;
    padding: 25px;     
}
article h3 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 15px;
}
footer {
    background: black;
    text-align: center;
    color: white;    
    width: 100%;
    margin-top: 20px;
    padding: 25px;
}





